[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp

# OS
.DS_Store
Thumbs.db

# Large sample scenes from ColorfulCity asset
Assets/Triangularity/ColorfulCity/Scenes/Buildings Showcase.unity
Assets/Triangularity/ColorfulCity/Scenes/All Buildings Colors.unity
Assets/Triangularity/ColorfulCity/Scenes/City (Main scene).unity